<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

        {% endblock title %} -ALS</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
    <div id="homepage">
        <div class="homepageHero">
            <!-- navbar starts here  -->
            <nav class="nav-wrapper z-depth-0 blue darken-2">
                <div class="container">
                    <a href="/" class="brand-logo white-text text-darken-2">ALS-CHECK</a>
                    <ul class="right blue darken-2">
                        <li class="blue darken-2">
                            <a href="/alldata" class="btn orange darken-2"
                                style="font-weight: 600; text-transform: none;">View All Reports</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- navbar ends here -->
            {% block body %}

            {% endblock body %}
        </div>
    </div>


</body>

</html>