{% extends 'base.html' %}
{% block title %}
  HOME
{% endblock title %}

{% block body %}
<div class="row my-5">
  <div class="col-sm-4 my-10">
    <div class="card-body my-10">
      <h5 class="card-title">About ALS</h5>
      <h6 class="card-subtitle mb-2 text-muted">Know Everything</h6>
      <p class="card-text">Want to know everything about ALS click below.</p>
      <a href="/about" class="btn btn-outline-secondary">About ALS</a>
    </div>
  </div>
  <div class="col-sm-4 my-10">
    <div class="card-body">
      <h5 class="card-title">Check</h5>
      <h6 class="card-subtitle mb-2 text-muted">Check your condition</h6>
      <p class="card-text">Upload your audio sample while saying the vowel "A".</p>
      <a href="/new" class="btn btn-outline-secondary">Check ALS</a>
    </div>
  </div>
  <div class="col-sm-4 my-10">
    <div class="card-body">
      <h5 class="card-title">Check report</h5>
      <h6 class="card-subtitle mb-2 text-muted">Status</h6>
      <p class="card-text">Already gave sample you can check your ALS report here.</p>
      <a href="/alldata" class="btn btn-outline-secondary">Reports</a>
    </div>
  </div>
</div>

{% endblock body %}