{% extends 'base.html' %}
{% block title %}
  New record
{% endblock title %}
{% block body %}


<div class="container my-4">
    <h2>Enter Patient details</h2>

    <form action="/alldata" method="POST" enctype = "multipart/form-data">
        <div class="input-group my-3 mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="fname" name="fname">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="lname" name="lname">
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload" accept="audio/*" name="file">
                <button type="button" class="btn btn-dark" data-bs-toggle="popover" title="Popover title" data-bs-content="record your void while saying 'A' in a consistent pitch">Instructions*</button>
            </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-outline-secondary mb-3">
        </div>
    </form>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
    </div>
</div>
{% endblock body %}